{% extends 'base.html' %}
{% load textile_pl from fnp_markup %}
{% load chunks %}

{% block title %}II etap{% endblock %}

{% block body %}
  <h1>II etap Olimpiady Cyfrowej</h1>

  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
  {% endif %}

  {% chunk 'stage2_header' %}

  {% for assignment in assignments %}
    {% if assignment.title %}
      <h2>{{ assignment.title }} (do {{ assignment.deadline }})</h2>
    {% endif %}
    <p class="box-button" style="max-width: 15em;">
      <a href="{{ assignment.content_url }}" target="_blank" class="nice-button"><strong>Zobacz treść zadania</strong></a>
    </p>
    <form method="POST" action="" enctype="multipart/form-data" class="submit-form">
      {% csrf_token %}
      {% for form, attachment in assignment.attachment_forms %}
        {{ form.assignment_id }}
        <p><strong>{{ form.file.label }}:</strong></p>
        <p>
          {% if assignment.is_active %}{{ form.file }}{% endif %}
          {% if attachment.file %}
            <a href="{{ attachment.download_url }}">{{ attachment.filename }}</a>
            ({{ attachment.file.size|filesizeformat }})
          {% else %}
            (nie wysłano pliku)
          {% endif %}
        </p>
      {% endfor %}
      {% for form in assignment.field_forms %}
        {{ form.assignment_id }}
        <p><strong>{{ form.value.label }}:</strong></p>
        {{ form.value.errors }}
        <p>
          {% if assignment.is_active %}{{ form.value }}{% else %}{{ form.value.value }}{% endif %}
        </p>
      {% endfor %}
      {% if assignment.is_active %}<input type="submit" value="Zapisz"/>{% endif %}
    </form>
  {% endfor %}


{% endblock %}