{% extends 'base.html' %}
{% load textile_pl from fnp_markup %}
{% load chunks %}

{% block title %}Drugi etap{% endblock %}

{% block body %}
  <h1>Drugi etap Olimpiady Cyfrowej</h1>

  {% chunk 'stage2_header' %}

  {% for assignment in assignments %}
    <h2>{{ assignment.title }} (do {{ assignment.deadline }})</h2>
    <a href="{{ assignment.content_url }}"><strong>Zobacz treść zadania</strong></a>
    <form method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}
      {% for form in assignment.field_forms %}
        {{ form.assignment_id }}
        <p><strong>{{ form.value.label }}:</strong></p>
        {{ form.value.errors }}
        <p>
          {% if assignment.is_active %}{{ form.value }}{% else %}{{ form.value.initial }}{% endif %}
        </p>
      {% endfor %}
      {% for form, attachment in assignment.attachment_forms %}
        {{ form.assignment_id }}
        <p><strong>{{ form.file.label }}:</strong></p>
        <p>
          {% if assignment.is_active %}{{ form.file }}{% endif %}
          {% if attachment.file %}
            <a href="{{ attachment.download_url }}">{{ attachment.filename }}</a>
            ({{ attachment.file.size|filesizeformat }})
          {% else %}
            (nie wysłano pliku)
          {% endif %}
        </p>
      {% endfor %}
      {% if assignment.is_active %}<input type="submit" value="Wyślij"/>{% endif %}
    </form>
  {% endfor %}


{% endblock %}