@charset "UTF-8";
.exercise .question-piece {
  border-radius: 0.688em;
  padding: 0.5em 0.688em; }
.exercise .lista.punkt {
  list-style: none;
  margin: 0;
  padding: 0; }
.exercise .lista li {
  margin: 0.313em 0; }
.exercise .question-piece.correct {
  background-color: #16a487;
  color: white; }
.exercise .question-piece.incorrect {
  background-color: #f00;
  color: white; }
.exercise .placeholder.dragover {
  background: #ed7831 !important; }
.exercise .remove {
  float: right;
  display: inline-block;
  border-radius: 0.5em;
  padding: 0.25em 0.5em;
  margin: -0.25em -0.5em -0.25em 0.5em;
  background: #ed7831;
  color: white; }
.exercise .buttons {
  background: #5e6165;
  border-radius: 0.563em;
  height: 1.875em;
  line-height: 1.875em;
  overflow: hidden;
  color: white;
  margin-top: 1.875em; }
  .exercise .buttons input {
    height: 100%;
    border: 0;
    background: #8e9093;
    color: white;
    text-transform: uppercase;
    font-weight: bold; }
  .exercise .buttons .message {
    float: right;
    margin-right: 1.25em; }
  .exercise .buttons input.check {
    background: #ed7831; }

.luki .question-piece {
  background-color: #d4d6d8;
  color: #363a3e;
  cursor: pointer;
  z-index: 2;
  display: inline-block;
  margin: 0.313em;
  z-index: 2; }
.luki .question-piece.disabled {
  background-color: #eee;
  color: #d4d6d8; }
.luki .placeholder {
  border-radius: 0.688em;
  padding: 0.5em 0.688em;
  display: inline-block;
  margin: 0.313em;
  z-index: 2;
  width: 4em;
  background-color: #eee;
  z-index: 1; }
.luki .placeholder:after {
  content: "\0000a0"; }

.zastap .question-piece {
  background-color: #d4d6d8;
  color: #363a3e;
  cursor: pointer;
  z-index: 2;
  display: inline-block;
  margin: 0.313em;
  z-index: 2; }
.zastap .question-piece.disabled {
  background-color: #eee;
  color: #d4d6d8; }
.zastap .question-piece.placeholder {
  background-color: inherit;
  color: inherit;
  cursor: inherit;
  z-index: inherit;
  display: inline;
  margin: 0;
  padding: 0;
  z-index: inherit;
  border-radius: 0; }

.uporzadkuj .question-piece {
  background-color: #d4d6d8;
  color: #363a3e;
  cursor: pointer;
  z-index: 2; }
.uporzadkuj .question-piece.disabled {
  background-color: #eee;
  color: #d4d6d8; }
.uporzadkuj .lista {
  list-style: none;
  margin: 0;
  padding: 0; }

.przyporzadkuj .question-piece {
  background-color: #d4d6d8;
  color: #363a3e;
  cursor: pointer;
  z-index: 2;
  width: 38.625em; }
.przyporzadkuj .question-piece.disabled {
  background-color: #eee;
  color: #d4d6d8; }
.przyporzadkuj .predicate {
  list-style: none;
  margin: 0;
  padding: 0; }
  .przyporzadkuj .predicate > li {
    border-radius: 0.688em;
    padding: 0.5em 0.688em;
    display: inline-block;
    background-color: #5e6165;
    color: white;
    width: 11.75em;
    position: relative;
    vertical-align: top; }
    .przyporzadkuj .predicate > li .subjects {
      list-style: none;
      margin: 0;
      padding: 0;
      min-height: 2.813em;
      position: relative;
      margin: 0.5em -0.688em -0.5em -0.688em;
      padding: 0.5em 0.688em; }
      .przyporzadkuj .predicate > li .subjects li {
        width: auto; }
      .przyporzadkuj .predicate > li .subjects .placeholder {
        border-radius: 0.688em;
        padding: 0.5em 0.688em;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        z-index: -1;
        text-align: right; }
      .przyporzadkuj .predicate > li .subjects .placeholder.dragover {
        z-index: 1; }
      .przyporzadkuj .predicate > li .subjects .placeholder:after {
        content: "upuść tutaj";
        text-style: italic; }
.przyporzadkuj .subject {
  list-style: none;
  margin: 0;
  padding: 0; }

.prawdafalsz .question li.question-piece {
  position: relative;
  padding-left: 11em; }
.prawdafalsz .question .buttons {
  margin-top: 0;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #d4d6d8;
  color: #363a3e;
  display: inline-block; }
  .prawdafalsz .question .buttons a {
    color: #363a3e;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    padding: 0 0.688em; }
  .prawdafalsz .question .buttons a.chosen {
    background: #ed7831;
    color: white; }

.wybor .question .lista {
  list-style: none;
  padding: 0; }
  .wybor .question .lista li {
    margin: 0; }
