@charset "UTF-8";
#sidebar {
  position: absolute;
  right: 0;
  top: 0;
  width: 13.75em;
  color: #363a3e; }
  #sidebar section {
    margin-bottom: 1.063em; }
    #sidebar section h1 {
      margin: 0; }
    #sidebar section h1.realisation {
      font-weight: normal; }
  #sidebar .box {
    background-color: #d4d6d8;
    border-radius: 0.938em;
    padding: 1.063em 0.75em 1.063em 0.75em; }
    #sidebar .box h1 {
      font-size: 1em;
      text-transform: uppercase; }
  #sidebar .box-button {
    background-color: #ed7831;
    border-radius: 0.938em; }
    #sidebar .box-button .dl-button {
      color: white;
      padding: 1.063em 0.75em 1.063em 0.75em; }
  #sidebar .dl-button {
    color: #363a3e;
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: .9em; }
  #sidebar .dl-button:after {
    content: " ↓"; }
  #sidebar .section {
    border-top: 1px solid #c9ccce;
    padding-top: 1.063em; }
  #sidebar .section-minor {
    border-top: 1px solid #c9ccce;
    padding-top: 1.063em; }
    #sidebar .section-minor h1 {
      font-weight: normal;
      font-size: 1em; }
  #sidebar .section-micro {
    font-size: .8em;
    color: #888;
    border-top: 1px solid #c9ccce;
    padding-top: 1.063em; }
    #sidebar .section-micro h1 {
      font-weight: normal;
      font-size: 1em; }
    #sidebar .section-micro .link-list a {
      color: #888; }

#main-bar {
  width: 40em; }
