#level-chooser-place {
  min-height: 4em;
  margin-top: 2em; }
  #level-chooser-place ul#level-chooser {
    margin: 0;
    padding: 1em 0 1em 8.75em;
    background-color: white;
    width: 31.25em;
    z-index: 300;
    position: relative;
    text-transform: uppercase;
    text-align: right; }
    #level-chooser-place ul#level-chooser .home {
      display: none;
      position: absolute;
      top: .5em;
      left: 0; }
      #level-chooser-place ul#level-chooser .home a {
        background: none;
        padding: 0; }
        #level-chooser-place ul#level-chooser .home a img {
          width: 6.25em; }
    #level-chooser-place ul#level-chooser.fixed {
      position: fixed;
      top: 0;
      border-bottom: 1px solid #c9ccce; }
      #level-chooser-place ul#level-chooser.fixed .home {
        display: block; }
    #level-chooser-place ul#level-chooser li {
      display: inline-block;
      list-style: none; }
      #level-chooser-place ul#level-chooser li a {
        padding: .5em 1em;
        border-radius: 0.3125em;
        background: #eee; }
        #level-chooser-place ul#level-chooser li a.active {
          color: white;
          background: #ED7831; }

.level .link-list {
  margin-left: 1em; }
.level .level-toc {
  overflow: hidden;
  /* Because we're changing bg color lower. */ }
  .level .level-toc.fixed {
    position: fixed; }
  .level .level-toc .link-list {
    margin-left: 1em; }
    .level .level-toc .link-list li {
      margin-bottom: 0; }
      .level .level-toc .link-list li.curriculumcourses {
        margin: 10px -17px -17px;
        padding: 10px 16px 16px;
        background-color: #eee; }
