.section-level {
  width: 40em;
  border-radius: 0.9375em;
  margin: 1em 0;
  overflow: hidden; }
  .section-level a:hover {
    text-decoration: underline; }

.section-type {
  display: inline-block;
  vertical-align: top;
  padding: 1.25em; }
  .section-type h1 {
    text-transform: uppercase;
    margin: 0 0 1em 0;
    font-size: 1em; }

.section-type-synthetic {
  width: 16.25em; }

.section-type-course {
  width: 18.75em; }

.section-type-project {
  width: 37.5em; }

.section-level-gimnazjum {
  background: #f4ae83;
  color: #67584f; }
  .section-level-gimnazjum a, .section-level-gimnazjum a:hover {
    color: #67584f; }
  .section-level-gimnazjum .section-type-course {
    background: #ed7831;
    color: #fff; }
    .section-level-gimnazjum .section-type-course a {
      color: #fff; }
  .section-level-gimnazjum .section-type-project {
    background-color: #f8cdb2; }

.section-level-liceum {
  background: #44b69f;
  color: #363a3e; }
  .section-level-liceum a, .section-level-liceum a:hover {
    color: #363a3e; }
  .section-level-liceum .section-type-course {
    background: #16a487;
    color: #fff; }
    .section-level-liceum .section-type-course a {
      color: #fff; }
  .section-level-liceum .section-type-project {
    background-color: #9fdbcf; }

.course-boxes h1 {
  color: #363a3e; }
.course-boxes .section-level {
  background: white;
  border: 1px solid #777777; }
  .course-boxes .section-level a, .course-boxes .section-level a:hover {
    color: #363a3e; }
  .course-boxes .section-level .section-type {
    background: white; }

.section-links {
  float: right; }

h2.section-header {
  margin: 0; }

.section-list-toc {
  display: inline-block;
  vertical-align: top;
  width: 18.75em; }
