$px: 0.0625em;

.section-level {
    width: 640*$px;
    border-radius: 15*$px;
    margin: 1em 0;
    a:hover {
        text-decoration: underline;
    }
}

.section-type {
    display: inline-block;
    vertical-align: top;
    padding: 20*$px;

    h1 {
        text-transform: uppercase;
        margin: 0 0 1em 0;
        font-size: 1em;
    }

    .section-lessons {
        padding: 0 0 0 1em;
    }
}
.section-type-synthetic {
    width: 300*$px - 2 * 20*$px;
}
.section-type-course {
    border-radius: 0 15*$px 15*$px 0;
    width: 340*$px - 2 * 20*$px;
}

.section-level-gimnazjum {
    background: #f4ae83;
    color: #67584f;
    a, a:hover {
        color: #67584f;
    }

    .section-type-synthetic {
    }
    .section-type-course {
        background: #ed7831;
        color: #fff;
        a {
            color: #fff;
        }
    }
}


.section-level-liceum {
    background: #44b69f;
    color: #363a3e;
    a, a:hover {
        color: #363a3e;
    }

    .section-type-synthetic {
    }
    .section-type-course {
        background: #16a487;
        color: #fff;
        a {
            color: #fff;
        }
    }
}


.section-links {
    float: right;
}

h2.section-header {
    margin: 0;
}
