Witaj,

Przewodniczący Komisji Szkolnej właśnie zgłosił Cię do Olimpiady Cyfrowej.
Cieszymy się, że chcesz wziąć w niej udział.

Pierwszy etap Olimpiady (test on-line) odbędzie się 15 listopada 2016 r.
o godz. 10:00 i potrwa 90 minut.

Szczegółowe informacje na temat pierwszego etapu Olimpiady oraz wszystkie
ogłoszenia z nią związane będą publikowane na stronie https://olimpiadacyfrowa.pl.
W razie pytań lub wątpliwości możesz kontaktować się z nami, pisząc na adres
olimpiada@nowoczesnapolska.org.pl.

Z pozdrowieniami,

Zespół Olimpiady Cyfrowej
Fundacja Nowoczesna Polska
