Witaj,

Cieszymy się, że chcesz wziąć udział w Wielkim Turnieju Edukacji Medialnej.
Ty i Twój zespół zostaliście już zgłoszeni.
Pamiętajcie, że na realizację zadania i przesłanie dokumentacji
macie czas do 20 grudnia 2015 r.

Informacje związane z projektem do realizacji na pierwszym etapie
oraz wszystkie ogłoszenia związane z Turniejem będą publikowane
na stronie http://edukacjamedialna.edu.pl/WTEM. W razie pytań lub
wątpliwości możesz kontaktować się z nami, pisząc na adres
edukacjamedialna@nowoczesnapolska.org.pl.

Z pozdrowieniami

Zespół Edukacji Medialnej
Fundacja Nowoczesna Polska
