{% extends "contact/thanks.html" %}

{% block contact_form_description %}
<p>Dziękujemy za rejestrację w Wielkim Turnieju Edukacji Medialnej.</p>

<p>Na adres adres e-mail Opiekuna została wysłana wiadomość potwierdzająca
rejestrację.</p>

<p>Każdy zgłoszony uczeń powinien otrzymać wiadomość z potwierdzeniem rejestracji.
Prosimy upewnić się, czy potwierdzenie dotarło do każdego ze zgłoszonych uczniów.
W ten sposób zweryfikujemy, czy podane adresy są prawidłowe. </p>

<p>Zespół Edukacji Medialnej<br>
fundacja Nowoczesna Polska</p>
{% endblock %}
