@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Dosis:400,700&subset=latin,latin-ext);
a {
  text-decoration: none;
  color: #ed7831; }
  a img {
    border: 0;
    padding: 0; }

body {
  font-family: Dosis;
  margin: 0;
  background: white;
  color: #363a3e; }

.clr {
  clear: both; }

#header-wrapper {
  background-image: url(../img/header-bar.png);
  background-repeat: repeat-x;
  background-position: 0 100%; }

header.main {
  margin: 0 auto 1.438em;
  width: 58.75em;
  padding: 1.813em 0.625em 0; }
  header.main #logo {
    float: left;
    margin-bottom: 1.25em; }
    header.main #logo img {
      vertical-align: middle; }
  header.main #organizer {
    float: right;
    font-size: .75em;
    color: #777; }
    header.main #organizer img {
      margin-top: .5em; }
  header.main nav ul {
    padding: 0;
    position: absolute;
    left: 15em; }
  header.main nav li {
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    margin: 0 .5em;
    text-align: center;
    /*position:relative;*/ }
  header.main nav a {
    color: #363a3e;
    display: block;
    vertical-align: bottom;
    font-size: .85em; }
  header.main nav a:hover {
    color: #ed7831; }
  header.main nav a:before {
    content: " ";
    display: block;
    margin-bottom: .8em;
    width: 2.75em;
    height: 2.125em;
    text-align: center;
    margin: auto;
    margin-bottom: .8em; }
  header.main nav .menu-lekcje:before {
    background: url(../img/menu/lekcje.png) no-repeat 0 0;
    background-size: 100%; }
  header.main nav .menu-kompetencje:before {
    background: url(../img/menu/katalog.png) no-repeat 0 0;
    background-size: 100%; }
  header.main nav .menu-wspolpraca:before {
    background: url(../img/menu/wspolpraca.png) no-repeat 0 0;
    background-size: 100%; }
  header.main nav .menu-szkolenia:before {
    background: url(../img/menu/szkolenia.png) no-repeat 0 0;
    background-size: 100%; }
  header.main nav .menu-wesprzyj:before {
    background: url(../img/menu/wesprzyj.png) no-repeat 0 0;
    background-size: 100%; }
  header.main nav .menu-o-nas:before {
    background: url(../img/menu/o-nas.png) no-repeat 0 0;
    background-size: 100%; }
  header.main nav .menu-kontakt:before {
    background: url(../img/menu/kontakt.png) no-repeat 0 0;
    background-size: 100%; }
  header.main nav .menu-lekcje:hover:before {
    background: url(../img/menu/lekcje_active.png) no-repeat 0 0;
    background-size: 100%; }
  header.main nav .menu-kompetencje:hover:before {
    background: url(../img/menu/katalog_active.png) no-repeat 0 0;
    background-size: 100%; }
  header.main nav .menu-wspolpraca:hover:before {
    background: url(../img/menu/wspolpraca_active.png) no-repeat 0 0;
    background-size: 100%; }
  header.main nav .menu-szkolenia:hover:before {
    background: url(../img/menu/szkolenia_active.png) no-repeat 0 0;
    background-size: 100%; }
  header.main nav .menu-wesprzyj:hover:before {
    background: url(../img/menu/wesprzyj_active.png) no-repeat 0 0;
    background-size: 100%; }
  header.main nav .menu-o-nas:hover:before {
    background: url(../img/menu/o-nas_active.png) no-repeat 0 0;
    background-size: 100%; }
  header.main nav .menu-kontakt:hover:before {
    background: url(../img/menu/kontakt_active.png) no-repeat 0 0;
    background-size: 100%; }
  header.main #tagline {
    clear: both;
    float: left;
    background-color: white;
    /* Extend padded background .*/
    padding: 0 0.625em;
    margin-left: -0.625em;
    font-size: .9em;
    color: #363a3e; }
  header.main #search {
    float: right;
    background-color: white;
    /* Extend padded background .*/
    padding: 2px 0.625em 0;
    margin-right: -0.625em; }

#content {
  width: 58.75em;
  padding: 0 0.625em;
  margin: auto;
  position: relative; }

footer.main {
  clear: both;
  border-top: 1px solid #c9ccce;
  width: 58.75em;
  padding: 0.2em 0.625em;
  margin: 2.5em auto 1em auto;
  color: #9a9c9e; }
  footer.main p {
    font-size: .75em; }
  footer.main .footer-item {
    float: left;
    margin-right: 1.25em;
    width: 13.75em; }
  footer.main .sponsors-column {
    float: left;
    margin-left: 1.25em;
    width: 6.25em; }
    footer.main .sponsors-column p {
      font-size: .75em; }
  footer.main .footer-extra p {
    margin-top: 0; }

#search {
  font-size: .8em; }
  #search input, #search button {
    font-family: Dosis;
    font-size: .9em;
    vertical-align: bottom;
    border: 1px solid #c9ccce;
    padding: 0;
    margin: 0;
    line-height: .9em; }
  #search input {
    border-right-width: 0;
    height: 16px;
    width: 16em;
    padding-left: 1.3em; }
  #search button {
    height: 18px;
    width: 1.8em; }
    #search button span {
      position: relative;
      top: -1px; }
  #search input::-webkit-input-placeholder {
    text-transform: uppercase; }
  #search input:-moz-placeholder {
    text-transform: uppercase; }
  #search input::-moz-placeholder {
    text-transform: uppercase; }
  #search input::-ms-placeholder {
    text-transform: uppercase; }

.link-list {
  list-style: none;
  padding: 0; }
  .link-list li {
    margin-bottom: .5em; }
  .link-list a:before {
    content: "→";
    margin-right: .5em; }
  .link-list a {
    color: #363a3e; }
  .link-list a:hover {
    color: #ed7831; }

.link-list-colored a {
  color: #ed7831; }

.plain {
  margin: 0;
  padding: 0;
  list-style: none; }
  .plain li {
    margin: 1em 0; }

.flatpage img {
  border: 0.313em solid #eeeeee;
  margin: 1.3em; }
