@import url(http://fonts.googleapis.com/css?family=Dosis:400,700&subset=latin,latin-ext);

$px: .0625em;
$oranji: #ed7831;
$ciemny: #363a3e;
$zielony: #16a487;


a {
    text-decoration: none;
    color: $oranji;
    img {
        border: 0;
        padding: 0;
    }
}

body {
    font-family: Dosis;
    margin: 0;
    background: white;
    color: $ciemny;
}
.clr {
    clear: both;
}
#header-wrapper {
    background-image: url(../img/header-bar.png);
    background-repeat: repeat-x;
    background-position: 0 100%;
}
header.main {
    margin: 0 auto 23*$px;
    width: 940*$px;
    padding: 29*$px 10*$px 0;

    #header-top {
    }

    #logo {
        float: left;
        margin-bottom: 20*$px;
        img {
            vertical-align: middle;
        }
    }
    #organizer {
        float: right;
        font-size: .75em;
        color: #777;
        
        img {
            margin-top: .5em;
        }
    }



    nav {
        ul {
            padding: 0;
            position: absolute;
            left: 15em;
        }
        li {
            list-style: none;
            display: inline-block;
            text-transform: uppercase;
            margin: 0 .5em;
            text-align: center;
            /*position:relative;*/
        }
        a {
            color: $ciemny;
            display: block;
            vertical-align: bottom;
            font-size: .85em;
            
        }
        a:hover {
            color: $oranji;
        }
        a:before {
            display: block;
            margin-bottom: .8em;
        }
        .menu-lekcje:before { content: url(../img/menu/lekcje.png);}
        .menu-kompetencje:before { content: url(../img/menu/katalog.png); }
        .menu-wspolpraca:before { content: url(../img/menu/wspolpraca.png);}
        .menu-szkolenia:before { content: url(../img/menu/szkolenia.png); }
        .menu-wesprzyj:before { content: url(../img/menu/wesprzyj.png);}
        .menu-o-nas:before { content: url(../img/menu/o-nas.png); }
        .menu-kontakt:before { content: url(../img/menu/kontakt.png); }
        .menu-lekcje:hover:before { content: url(../img/menu/lekcje_active.png);}
        .menu-kompetencje:hover:before { content: url(../img/menu/katalog_active.png); }
        .menu-wspolpraca:hover:before { content: url(../img/menu/wspolpraca_active.png);}
        .menu-szkolenia:hover:before { content: url(../img/menu/szkolenia_active.png); }
        .menu-wesprzyj:hover:before { content: url(../img/menu/wesprzyj_active.png);}
        .menu-o-nas:hover:before { content: url(../img/menu/o-nas_active.png); }
        .menu-kontakt:hover:before { content: url(../img/menu/kontakt_active.png); }


    }

    #tagline {
        clear: both;
        float: left;
        background-color: white;
        /* Extend padded background .*/
        padding: 0 10*$px;
        margin-left: -10*$px;
        font-size: .9em;
        color: $ciemny;
    }
    #search {
        float: right;
        background-color: white;
        /* Extend padded background .*/
        padding: 2px 10*$px 0;
        margin-right: -10*$px;
    }
}


#content {
    width: 940 * $px;
    padding: 0 10 * $px;
    margin: auto;
    position: relative;
}


footer.main {
    clear: both;
    border-top: 1px solid #c9ccce;
    width: 940 * $px;
    padding: .2em 10 * $px;
    margin: 40*$px auto 0 auto;
    color: #9a9c9e;

    .footer-item {
        float: left;
        margin-right: 20 * $px;
        width: 220 * $px;
        p {
            font-size: .75em;
        }
    }
    .sponsors-column {
        float: left;
        margin-left: 20 * $px;
        width: 100 * $px;
        p {
            font-size: .75em;
        }
    }
}


#search {
    font-size: .8em;

    input, button {
        font-family: Dosis;
        font-size: .9em;
        vertical-align:bottom;
        border: 1px solid #c9ccce;
        padding: 0;
        margin: 0;
        line-height: .9em;
    }
    input {
        border-right-width: 0;
        height: 16px;
        width: 16em;
        padding-left: 1.3em;
    }
    button {
        height: 18px;
        width: 1.8em;
        span {
            position:relative;
            top: -1px;
        }
    }

    input::-webkit-input-placeholder {
        text-transform: uppercase;
    }
    input:-moz-placeholder {
        text-transform: uppercase;
    }
    input::-moz-placeholder {
        text-transform: uppercase;
    }
    input::-ms-placeholder {
        text-transform: uppercase;
    }

}


.link-list {
    list-style: none;
    padding: 0;

    li {
        margin-bottom: .5em;
    }

    a:before {
        content: "→";
        margin-right: .5em;
    }
    a {
        color: $ciemny;
    }
    a:hover {
        color: $oranji;
    }
}
