.submit-form {
    th, td {
        padding: .3em;
        vertical-align: top;
        text-align: left;
    }
    td ul {
        padding: 0;
        list-style: none;
        margin: 0;
    }
    th {
        max-width: 16em;
        font-weight: normal;
    }
    .required th label:before {
        content: "* ";
        color: red;
    }
    .errorlist {
        padding: 0 0 0 1em;
        margin: 0;
        color: red;
    }
}
