@import "mixins";


ul.breadcrumb {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        display: inline;
    }
}



.forum-body {
    .pagination {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                display: inline-block;
                a {
                    display: block;
                    padding: .5em;
                }
            }

            .disabled {
                a {
                    color: black;
                }
            }
        }
    }

    .table {
        width: 100%;
        margin: 1em 0;
    }

    .forum-description {
        margin: 5px;
    }

    .forum-row, .topic-row {
        width: 100%;
    }

    .forum-name, .topic-name {
        width: 40%;
        text-align: left;
    }

    .forum-topic-count, .forum-post-count, .topic-post-count, .topic-view-count {
        width: 10%;
        text-align: center;
    }

    .forum-last-post, .topic-last-post {
        width: 32%;
        text-align: center;
    }

    .first-unread-post-link, .first-unread-post-link:hover {
        text-decoration: none;
    }



    .post:nth-child(4n+4) {
        background-color: lighten(#D0D0D0 , 10%);
    }

    .post-header {
       padding: 3px 0 3px 20px;
       th {
            text-align: left;
       }
    }

    .post-info {
        width: 200px;
        padding: 10px;

        .avatar {

        }

        .post-author {
            padding: 5px 0;
        }

        .post-extra-info {
        }

        .post-controls {
        }
    }

    .post-content {
        vertical-align: top;
        padding: 10px;
    }

    .post-signature {
        color: #CCC;
        margin-top: 15px;
        border-top: 1px dotted #CCC;
        display: block;
    }

    .post-related {
        margin-top: 20px;
    }




    .forum-headline {
        margin-top: 10px;
    }

    .attachments-form {
        padding-bottom: 15px;
    }

    .attachment-link {
        border-bottom: 1px dotted;
    }

    /* --- Unread --- */

    .state-indicator {
        display: block;
        float: left;
        height: 10px;
        width: 10px;
        margin: 3px 5px;
    }

    .topic-unread, .forum-unread {
        a {
            font-weight: bold;
        }
        .state-indicator {
        }
    }

    /* --- Moderation --- */
    .on-moderation {
        background: #ffcccc;
    }

    /* --- Mini pagination --- */
    .mini-pagination {
        padding: 3px 0 3px 10px;
    }


    .post-form {
        input, textarea {
            @include base-font;
            font-size: 1.6em;
        }
    }
}
