#main-promobox {
  float: right;
  border-radius: 0.938em;
  background: #16a487;
  padding: 1.5em 1.25em;
  width: 11.25em;
  height: 11.688em; }
  #main-promobox h1 {
    color: white;
    margin: 0;
    text-transform: uppercase;
    font-size: .9em; }
  #main-promobox h1:before {
    content: url(/static/img/icons/announce_white.png);
    margin-right: 1.2em;
    vertical-align: top; }
  #main-promobox h2 {
    color: white;
    font-size: .9em;
    margin: 1.1em 0 0 0;
    font-weight: normal;
    text-transform: uppercase; }
  #main-promobox p {
    color: #363a3e;
    font-size: .8em;
    line-height: 1.15em;
    margin: .3em 0; }

#main-sections {
  clear: both;
  float: left;
  margin-top: 1.2em;
  width: 43.75em; }
  #main-sections h1 {
    font-size: .9em;
    margin: 0 0 0 1.6em;
    text-transform: uppercase; }
  #main-sections ul {
    margin: -0.188em 0 0 -1.25em;
    padding: 0;
    list-style: none; }
    #main-sections ul li {
      margin-top: 1.25em;
      margin-left: 1.25em;
      float: left;
      width: 10em;
      height: 5.625em;
      border-radius: 0.938em; }
      #main-sections ul li a {
        color: white;
        text-transform: uppercase;
        display: block;
        height: 4.375em;
        width: 8.75em;
        display: table;
        padding: 0.625em; }
        #main-sections ul li a span {
          font-size: .9em;
          height: 100%;
          width: 100%;
          display: table-cell;
          vertical-align: middle;
          border: 1px solid transparent;
          border-radius: 0.625em;
          padding-left: 1em; }
      #main-sections ul li a:hover span {
        border: 1px solid white; }
    #main-sections ul .box1 {
      background-color: #adaeaf; }
    #main-sections ul .box2 {
      background-color: #f8b323; }
    #main-sections ul .box3 {
      background-color: #16a487; }
    #main-sections ul .box4 {
      background-color: #5e6165; }
    #main-sections ul .box5 {
      background-color: #16a487; }
    #main-sections ul .box6 {
      background-color: #363a3e; }
    #main-sections ul .box7 {
      background-color: #adaeaf; }
    #main-sections ul .box8 {
      background-color: #ed7831; }

#main-chosen {
  float: right;
  margin-top: 1.2em;
  width: 13.75em; }
  #main-chosen h1 {
    font-size: .9em;
    margin: 0 0 0 1.4em;
    text-transform: uppercase; }
  #main-chosen ul {
    margin: 1.063em 0 0 1.4em; }
    #main-chosen ul li {
      font-size: .9em;
      text-transform: uppercase;
      line-height: 1.25em; }

#main-tools {
  clear: both; }
  #main-tools .main-tools-box {
    float: left;
    margin-top: 1.5em;
    margin-right: 1.25em;
    width: 17.5em; }
    #main-tools .main-tools-box h1 {
      margin: 0;
      font-size: .9em;
      text-transform: uppercase; }
    #main-tools .main-tools-box ul, #main-tools .main-tools-box ol {
      margin: 1.1em 0 0 0;
      font-size: .9em;
      line-height: 1.15em; }
