{% extends "catalogue/lesson/lesson_detail.html" %}

{% block lesson-info %}
<section class="box">
    {% if publisher %}
    <div class="box-icon"><img src="{{ publisher.logo.url }}"
            title="{{ publisher.name }}"
            alt="{{ publisher.name }}"
        ></div>
    {% endif %}

    <p>To jest <a href="{% url 'info' 'metoda-projektowa' %}">projekt</a> 
    na poziomie
    <a href="{% url 'catalogue_lessons' %}#{{ object.level.slug }}">{{ object.level|lower }}</a>.
    </p>
</section>
{% endblock %}



{% block sidebar-top %}


{% if object.package %}
    <section class="box-button"><a href="{{ object.package.url }}" class="dl-button">Pobierz cały projekt</a></section>
{% endif %}

{% endblock %}
