{% extends "base_mil.html" %}
{% load i18n %}


{% block body %}

    <p>{% blocktrans with href=form_href %}
    Take part in the consultation by filling in <a href="{{form_href}}">the form</a> or comment on specific competencies in different thematic fields
    {% endblocktrans %}:</p>

    <ol>
    {% for document in object_list %}
        <li><a href="{{document.get_absolute_url}}">{{document.name}}</a></li>
    {% endfor %}
    </ol>

    {% blocktrans %}
        <p>To insert comments in a selected thematic field you need to register.</p>

        <p>How to do it?</p>
        <ol>
            <li>Click on a selected link from the list of the thematic fields.</li>
            <li>Choose "Register" option.</li>
            <li>Enter your data.</li>
            <li>Check your email for the message confirming the registration and click on the link included.</li>
            <li>Enter your username and password.</li>
            <li>Go back to the consultation page. Choose one of the fields, log in and share your comments.</li>
        </ol>

        <p>How to add a comment?</p>
        <ol>
            <li>Highlight a fragment of the text.</li>
            <li>Click on a yellow "comment" button on the left.</li>
            <li>Type in a subject and content of your comment.</li>
            <li>Save your comment.</li>
        </ol>
    {% endblocktrans %}

{% endblock %}