{% extends "contact/thanks.html" %}

{% block contact_form_description %}
<p>Dziękujemy za rejestrację udziału w konkursie MediaLog.</p>

<p>Przypominamy, że prace można nadsyłać do 6 maja 2013 na adres 
edukacjamedialna@nowoczesnapolska.org.pl. W mailu należy podać dane 
kontaktowe Autora/ów pracy, Opiekuna (osoby, która zarejestrowała udział 
danej instytucji w konkursie i prowadziła zajęcia z edukacji medialnej) 
oraz nazwę instytucji (szkoły, biblioteki, domu kultury itp.). 
W przypadku prac opublikowanych już wcześniej wystarczy w mailu podać
link do odpowiedniej strony.</p>
{% endblock %}
