{% extends "base.html" %}
{% load chunks %}
{% load honeypot %}

{% block title %}{{ form.form_title }}{% endblock %}

{% block body %}






    <h1>{% block contact_form_title %}{{ form.form_title }}{% endblock %}</h1>

    <div class="form-info">
    {% block contact_form_description %}
        {% chunk "contact_form__"|add:form.form_tag %}
    {% endblock %}
    </div>

    <form method="POST" action="." enctype="multipart/form-data" class="submit-form">
    {% csrf_token %}
    {% render_honeypot_field %}
    <h3>Dane Przewodniczącego Komisji Szkolnej i szkoły zgłaszającej Uczestników:</h3>
    <table>
        {{ form.as_table }}
    </table>

    {% with formsets.commission as formset %}

        <h3>Dane członków Komisji Szkolnej:</h3>

        {{ formset.management_form }}

        <ul class="errorlist">
        {% for err in formset.non_form_errors %}
            <li>{{ err }}</li>
        {% endfor %}
        </ul>

        {% for form in formset.forms %}
            <table>
                {{ form.as_table }}
            </table>
        {% endfor %}

        <div id="formstub-{{ formset.prefix }}" style="display:none">
            <table>
                {{ formset.empty_form.as_table }}
            </table>
        </div>

        <input type="button" value="+ Dodaj kolejną osobę" class="add_more" data-selector="#formstub-{{formset.prefix}}" data-prefix="{{formset.prefix}}">
    {% endwith %}


    {% with formsets.student as formset %}
        <h3>Dane Uczestników:</h3>

        {{ formset.management_form }}

        <ul class="errorlist">
        {% for err in formset.non_form_errors %}
            <li>{{ err }}</li>
        {% endfor %}
        </ul>

        {% for form in formset.forms %}
            <h4>Uczestnik/Uczestniczka:</h4>

            <table>
                {{ form.as_table }}
            </table>
        {% endfor %}

        <div id="formstub-{{ formset.prefix }}" style="display:none">
            <h4>Uczestnik/Uczestniczka:</h4>
            <table>
                {{ formset.empty_form.as_table }}
            </table>
        </div>

        <input type="button" value="+ Dodaj kolejną osobę" class="add_more" data-selector="#formstub-{{formset.prefix}}" data-prefix="{{formset.prefix}}">
    {% endwith %}

    <p>
    <button style="font-size:1.5em;">{% block contact_form_submit %}{{ form.submit_label }}{% endblock %}</button>
    </p>
    </form>


{% endblock %}
