Dzień dobry,

Przewodniczący Komisji Szkolnej właśnie zgłosił Cię do Olimpiady Cyfrowej.
Cieszymy się, że chcesz wziąć w niej udział.

Prosimy o potwierdzenie udziału przez kliknięcie w poniższy link:
https://olimpiadacyfrowa.pl{{ confirmation.absolute_url }}

Pierwszy etap Olimpiady (test on-line) odbędzie się 20 listopada 2018 r. o godz. 10:00 i potrwa 60 minut.

Szczegółowe informacje na temat pierwszego etapu Olimpiady oraz wszystkie
ogłoszenia z nią związane będą publikowane na stronie https://olimpiadacyfrowa.pl.
W razie pytań lub wątpliwości możesz kontaktować się z nami, pisząc na adres
olimpiada@nowoczesnapolska.org.pl.

Pozdrawiamy,

Zespół Olimpiady Cyfrowej
Fundacja Nowoczesna Polska