{% extends "contact/thanks.html" %}

{% block contact_form_description %}
<p>Dziękujemy za rejestrację w Olimpiadzie Cyfrowej.</p>

<p>Na adres adres e-mail Przewodniczącego/Przewodniczącej została wysłana wiadomość potwierdzająca
rejestrację.</p>

<p>Każdy zgłoszony uczeń powinien otrzymać wiadomość z potwierdzeniem
rejestracji.
Prosimy upewnić się, że potwierdzenie dotarło do każdego ze
zgłoszonych uczniów.
W ten sposób zweryfikujemy, czy podane adresy są prawidłowe. </p>

<p>Zespół Olimpiady Cyfrowej<br>
fundacja Nowoczesna Polska</p>
{% endblock %}
