{% extends 'base_super.html' %}
{% load compressed %}

{% block extra_script %}
    {% compressed_js 'wtem' %}
{% endblock %}



{% block body %}
<style>
    .wtem-open-field {
        margin: 10px 0;
    }
    .wtem-open-field textarea {
        margin-top:0;
    }
    .wtem-fixed-info {
        top: 20px;
        left: 20px;
        border: 1px solid black;
        background: #16a487;
        border-radius: 0.938em;
        padding: 5px 2px;
        color: white;
        text-align: center;
        font-weight: bold;
    }
    .wtem-items-inline li {
        display: inline-block;
    }
    .instruction {
        font-weight: bold;
    }

</style>

<h1>Wielki Turniej Edukacji Medialnej</h1>
<div class="wtem-fixed-info">Rozwiązania można wysyłać do godziny 17:30.</div>

<form method="post" enctype="multipart/form-data">
{% csrf_token %}

{% for exercise in exercises %}
    {% with 'wtem/exercises/'|add:exercise.type|add:'.html' as template_name %}
    {% include  template_name with exercise=exercise no=forloop.counter %}
    {% endwith %}
{% endfor %}


<hr/>
<input type="hidden" name="answers" value=""/>
<button style="display: block; margin: auto;" id="submit_answers">Wyślij moje odpowiedzi</button>

</form>

{% endblock %}