{% extends 'base_super.html' %}

{% block body %}

<h1>{% include "wtem/title.html" %}</h1>

<p>Witamy w I etapie Olimpiady Cyfrowej.</p>
<p>Test składa z 50 pytań, które otrzymasz w losowej kolejności. Po udzieleniu odpowiedzi na dane pytanie nie ma możliwości powrotu do niego i zmiany odpowiedzi. Uwaga: część pytań ma jedną, a część kilka poprawnych odpowiedzi.</p>
<p>Podczas rozwiązywania testu możesz korzystać z internetu.</p>
<p>Test rozpocznie się we wtorek 20 listopada o godzinie 10:00 i będzie trwał do godziny 11:00.</p>

<p>Powodzenia!</p>
<p>Zespół Olimpiady Cyfrowej<br>
Fundacja Nowoczesna Polska</p>

{% endblock %}