{% extends 'base_super.html' %}
{% load compressed %}
{% load static %}
{% load cache %}

{% block extra_script %}
    {% compressed_js 'wtem' %}
{% endblock %}


{% block body %}
<style>
    .wtem-open-field {
        margin: 10px 0;
    }
    .wtem-open-field textarea {
        margin-top:0;
    }
    .wtem-items-inline li {
        display: inline-block;
    }
    .instruction {
        font-weight: bold;
    }
    .wtem-disclaimer {
        font-style: italic;
        font-size: .9em;
    }
</style>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<h1>{% include "wtem/title.html" %}</h1>

<form method="post">

{% cache 300 wtem exercise.id %}
{% with 'wtem/exercises/'|add:exercise.type|add:'.html' as template_name %}
{% include  template_name with exercise=exercise %}
{% endwith %}
{% endcache %}


<hr/>
<input type="hidden" name="answers" value=""/>

<p style="text-align:center; margin-top:20px;">
<input type="submit" value="{% if no < exercise_count %}Kolejne pytanie{% else %}Zakończ test{% endif %}" style="display: block; margin: auto;"/>
<br/>
<span class="wtem_spinner">
    <span>Wysyłanie rozwiązania w toku...</span>
    <img src="{% static 'wtem/spinner.gif' %}"/>
    <span>Spróbuj jeszcze raz, jeśli wysyłanie trwa dłużej niż kilka chwil.</span>
</span>
</p>

</form>

{% endblock %}

{% block tracking %}{% endblock %}