{% extends 'base_super.html' %}

{% block body %}

<h1>Twoje rozwiązania zostały wysłane</h1>

<p>Dziękujemy za udział w I etapie Olimpiady Cyfrowej.
Twoja praca została wysłana i poprawnie przyjęta przez system.</p>

<p>Do końca listopada otrzymasz e-mail z wynikami I etapu. Informacja o uzyskanych przez Ciebie punktach zostanie również przesłana do osoby, która zgłosiła Twój udział w Olimpiadzie.</p>

<p>Aktualności związane z Olimpiadą możesz sprawdzać <a href="/">tutaj</a>. W razie dodatkowych pytań możesz kontaktować się z nami pod adresem olimpiada@nowoczesnapolska.org.pl lub numerem telefonu +48 515-502-666.</p>

<p>Zespół Olimpiady Cyfrowej<br>
fundacja Nowoczesna Polska</p>

{% endblock %}

{% block tracking %}{% endblock %}