{% extends 'base_super.html' %}

{% block body %}

<h1>Twoje rozwiązania zostały wysłane</h1>

<p>Dziękujemy za udział w I etapie Wielkiego Turnieju Edukacji Medialnej.
Twoja praca została wysłana i poprawnie przyjęta przez system.</p>

<p>Najpóźniej 16 grudnia 2013 r. otrzymasz e-mail z wynikami I etapu. Informacja o uzyskanych przez Ciebie punktach zostanie również przesłana do osoby, która zgłosiła Twój udział w Turnieju.</p>

<p>Aktualności związane z Turniejem możesz sprawdzać na stronie http://edukacjamedialna.edu.pl/wtem. W razie dodatkowych pytań możesz kontaktować się z nami pod adresem edukacjamedialna@nowoczesnapolska.org.pl.</p>

<p>Zespół Edukacji Medialnej
Fundacja Nowoczesna Polska</p>

{% endblock %}