{% extends 'base_super.html' %}

{% block body %}

<h1>Twoje rozwiązania zostały wysłane</h1>

<p>Dziękujemy za udział w I etapie Wielkiego Turnieju Edukacji Medialnej.
Twoja praca została wysłana i poprawnie przyjęta przez system.</p>

<p>Jeśli chcesz zmienić którąś z odpowiedzi, do godz. {{end_time|default:"18.00"}} możesz ponownie wysłać rozwiązanie zadań, korzystając z przypisanego Ci linku. W ocenie weźmiemy pod uwagę tylko ostatnie zgłoszenie. Pamiętaj, w zależności od zachowania Twojej przeglądarki, po powrocie do strony z zadaniami część zadań możesz być zmuszony/zmuszona rozwiązać ponownie.</p>

<p>Do końca grudnia otrzymasz e-mail z wynikami I etapu. Informacja o uzyskanych przez Ciebie punktach zostanie również przesłana do osoby, która zgłosiła Twój udział w Turnieju.</p>

<p>Aktualności związane z Turniejem możesz sprawdzać na stronie <a href="/wtem">http://edukacjamedialna.edu.pl/wtem</a>. W razie dodatkowych pytań możesz kontaktować się z nami pod adresem edukacjamedialna@nowoczesnapolska.org.pl lub numerem telefonu +48 22 621-30-17.</p>

<p>Zespół Edukacji Medialnej
Fundacja Nowoczesna Polska</p>

{% endblock %}