{% load url from future %}
{% load static %}

{% url "info" "jak-korzystac/" as jak %}
<section id="catalogue-carousel">
    <ul id="catalogue-carousel-links">
        <li style="background-image: url({% static 'carousel/img1.jpg' %}); z-index: 100;">
            <a href="{% url 'info' 'dobre-praktyki/' %}" class="catalogue-carousel-link">
                <div class="catalogue-carousel-note">
                    <p><strong>{{ lessons_count }}</strong> <em>{{ lessons_desc }}</em>
                    - zobacz w działaniu</p>
                </div>
            </a>
        </li>
    </ul>
    <ul id="catalogue-carousel-switcher">
        <li><a href="{{ jak }}#wiedza-w-pigulce" class="knowledge">wiedza w pigułce</a></li>
        <li><a href="{{ jak }}#zadania" class="activity">zadania</a></li>
        <li><a href="{{ jak }}#scenariusze" class="lesson-plan">scenariusze</a></li>
        <li><a href="{{ jak }}#slowniczek" class="reference">słowniczek</a></li>
    </ul>
</section>
