{% load url from future %}

<section id="catalogue-carousel">
    <ul id="catalogue-carousel-links">
        <li style="background-image: url(/static/carousel/img1.jpg); z-index: 100;">
            <a href="{% url 'catalogue_lesson' 'jak-planowac-prace-z-informacja' %}" class="catalogue-carousel-link">
                <div class="catalogue-carousel-note">
                </div>
            </a>
        </li>
    </ul>
    <ul id="catalogue-carousel-switcher">
        <li><a href="{% url 'catalogue_lesson' 'jak-planowac-prace-z-informacja' %}" class="knowledge">wiedza w pigułce</a></li>
        <li><a href="{% url 'catalogue_lesson' 'jak-planowac-prace-z-informacja' %}" class="activity">ćwiczenia</a></li>
        <li><a href="{% url 'catalogue_lesson' 'jak-planowac-prace-z-informacja' %}" class="lesson-plan">scenariusze</a></li>
        <li><a href="{% url 'catalogue_lesson' 'jak-planowac-prace-z-informacja' %}" class="reference">słowniczek</a></li>
    </ul>
</section>
