<h1>
{% if root %}
    <a href="{{ root.get_absolute_url }}">{{ root }}, <br>{{ lesson.level }}</a>
{% elif lesson.type == 'synthetic' %}
    <a href="{% url 'catalogue_lessons' %}">Kurs skrócony, <br>{{ lesson.level }}</a>
{% elif lesson.type == 'project' %}
    <a href="{% url 'catalogue_lessons' %}">Projekty, <br>{{ lesson.level }}</a>
{% else %}
    <a href="{% url 'catalogue_lessons' %}">Inne</a>
{% endif %}
</h1>

<ul>
{% for item in siblings %}
    <li>
    {% if item == lesson %}
        <strong>{{ item }}</strong>
    {% else %}
        <a href="{{ item.get_absolute_url }}">{{ item }}</a>
    {% endif %}
    </li>
{% endfor %}
</ul>
