<h1>
{% if root %}
    <a href="{{ root.get_absolute_url }}">{{ root }}</a>
{% elif lesson.type == 'synthetic' %}
    <a href="{% url 'catalogue_lessons' %}">Lekcje syntetyczne ze wszystkich tematów</a>
{% else %}
    <a href="{% url 'catalogue_lessons' %}">Inne</a>
{% endif %}
</h1>

<ul>
{% for item in siblings %}
    <li>
    {% if item == lesson %}
        <strong>{{ item }}</strong>
        {% if mark_level and item.level.slug == 'liceum' %} (poziom zaawansowany){% endif %}
    {% else %}
        <a href="{{ item.get_absolute_url }}">{{ item }}
            {% if mark_level and item.level.slug == 'liceum' %} (poziom zaawansowany){% endif %}
        </a>
    {% endif %}
    </li>
{% endfor %}
</ul>

{% with other=lesson.get_other_level %}
    {% if other %}
        <p>Ten temat jest dostępny również na 
        <a href="{% url 'catalogue_lessons' %}#{{ lesson.section.slug }}_{{ other.slug }}">poziomie
        {% if other.slug == 'liceum' %}zaawansowanym{% else %}podstawowym{% endif %}</a>.</p>
    {% endif %}
{% endwith %}
