{% for level, types in lessons.items %}
{% if level.slug == "liceum" %}
    <p><strong>{{section.title}}</strong>: poziom zaawansowany
        <span class="section-links"><a href="#top">wróć do spisu treści</a></span>
    </p>
{% endif %}
<section id="{{ section.slug }}_{{ level.slug }}" class="section-level section-level-{{ level.slug }}">
    {% spaceless %}
    {% for lesson_type, lesson_list in types.items %}
        <section class="section-type section-type-{{ lesson_type }}">
            {% if lesson_type == 'synthetic' %}
                <h1>Lekcja syntetyczna</h1>
            {% else %}
                <h1>Pełny kurs</h1>
            {% endif %}
            {% if lesson_list %}
            <ul class="section-lessons link-list">
                {% for lesson in lesson_list %}
                    <li class="section-lesson">
                        {% if lesson.slug %}
                            <a href="{{ lesson.get_absolute_url }}">{{ lesson }}{% if lesson_type == 'synthetic' %}
                                <br/>(przegląd całego tematu w 45 minut)
                            {% endif %}</a>
                        {% else %}
                            {{ lesson }} <em>(w przygotowaniu)</em>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% else %}
                <p>(W przygotowaniu)</p>
            {% endif %}
        </section>
    {% endfor %}
    {% endspaceless %}
</section>
{% endfor %}
