<ul class="section-levels">
{% for level, depths in lessons.items %}
    <li class="section-level section-level-{{ level.slug }}">
        <ul class="section-depths">
        {% for depth, lesson_list in depths.items %}
            <li class="section-depth section-depth-{{ depth }}">
                <ul class="section-lessons">
                    {% for lesson in lesson_list %}
                        <li class="section-lesson">
                            <a href="{{ lesson.get_absolute_url }}">{{ lesson }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>