{% extends base_template %}
{% load chunks %}
{% load i18n %}

{% block title %}{% trans 'Media, information and digital literacy competencies catalogue' %}{% endblock %}

{% block body %}
<h1>{% trans 'Media, information and digital literacy competencies catalogue' %}</h1>

{% if request.LANGUAGE_CODE == 'pl' %}
    {% chunk 'katalog_kompetencji' %}
{% endif %}

<div class="curriculum-form">
<h2><a>{% trans 'Browse competencies' %} <span>({% trans 'expand' %})</span></a></h2>
<form>

<h3>{% trans 'Education level' %}:</h3>
{% if errors.level %}<p class="error">{{ errors.level }}</p>{% endif %}
{% for lev_group, levels in levels.items %}
    <strong>{{ lev_group }}</strong>
    <ul class="curriculum-levels">
    {% for lev in levels %}
    <li><label><input type="radio" name="level" value="{{ lev.slug }}"
        {% if lev == level %}checked="checked"{% endif %} />
        {{ lev }}</label></li>
    {% endfor %}
    </ul>
{% endfor %}

<h3>{% trans 'Competency categories' %}:</h3>
{% if errors.competences %}<p class="error">{{ errors.competences }}</p>{% endif %}
<ul class="curriculum-sections">
{% for section in sections %}
    <li class="curriculum-section">
    <label><input type="checkbox" class="s" name="s" value="{{ section.pk }}"
        {% if section.pk in sect_ids %}checked="checked"{% endif %} /> {{ section }}</label>
        <a class="curriculum-section-toggler">({% trans 'expand' %})</a>
    <ul class="competences">
    {% for competence in section.competence_set.all %}
        <li class="competence"><label><input class="c" type="checkbox" name="c" value="{{ competence.pk }}"
            {% if competence.pk in comp_ids %}checked="checked"{% endif %} />
            {{ competence }}</label></li>
    {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>
<button>{% trans 'Show' %}</button>
</form>
</div>

{% if chosen_competences %}

<h2>{% trans 'Selected competencies' %} – {{ level }}</h2>

{% for section, competences in chosen_competences.items %}
    <h3>{{ section }}</h3>
    {% for competence in competences %}
        <h4>{{ competence }}</h4>
        {{ competence.for_level_.description|linebreaksbr }}
    {% endfor %}
{% endfor %}

{% endif %}


{% if request.GET.d %}
<script type="text/javascript">
    var curriculum_hide_form = true;
</script>
{% endif %}
{% endblock %}
