<div class="exercise exercise-wtem wybor" data-type="wybor" data-id="{{exercise.id}}">

    {% if no %}
        {% include "wtem/exercises/exercise_no.html" %}
    {% endif %}
    {% autoescape off %}
    <div class="description">
        {% for para in exercise.description %}
            <p class="paragraph">
                {{para}}
            </p>
        {% endfor %}
        {% if exercise.points %}
            <span class="instruction">
                {% if exercise.answer|length == 1 %}
                    Tylko jedna odpowiedź jest prawidłowa.
                {% else %}
                    Zaznacz wszystkie prawidłowe odpowiedzi.
                {% endif %}
            </span>
        {% endif %}
    </div>
    {% endautoescape %}
    <div class="question" data-no="1">
        <ol class="lista num">
            {% for option in exercise.options %}
                <li class="question-piece" data-name="{{option.id}}">
                    <input type="{% if exercise.answer|length == 1 %}radio{% else %}checkbox{% endif %}" name="{% if exercise.answer|length == 1 %}e{{no}}{% else %}e{{no}}_{{option.id}}{% endif %}" id="e{{no}}_{{option.id}}"{% if option.id|stringformat:"s" in exercise.saved_answer.closed_part %} checked="checked"{% endif %}>
                    <label for="e{{no}}_{{option.id}}">{{option.text}}</label>
                </li>
            {% endfor %}
        </ol>
    </div>

    {% if exercise.open_part %}
    <div class="open_part">
        <div class="description">
            {% for para in exercise.open_part %}
                <p class="paragraph">
                    {{para}}
                </p>
            {% endfor %}
        </div>
        <textarea style="width: 100%; margin-top:10px;" rows="{{exercise.open_part_rows|default:10}}">{{ exercise.saved_answer.open_part }}</textarea>
    </div>
    {% endif %}

</div>
