<div class="exercise exercise-wtem wybor" data-type="wybor" data-id="{{exercise.id}}">

    <h3>Zadanie {{no}}</h3>

    <div class="description">
        {% for para in exercise.description %}
            <p class="paragraph">
                {{para}}
            </p>
        {% endfor %}
    </div>

    <div class="question" data-no="1">
        <ol class="lista num">
            {% for option in exercise.options %}
                <li class="question-piece" data-name="{{option.id}}">
                    <input type="{% if exercise.answer|length == 1 %}radio{% else %}checkbox{% endif %}" name="{% if exercise.answer|length == 1 %}e{{no}}{% else %}q1_{{option.id}}{% endif %}" id="q1_{{option.id}}">
                    <label for="{% if exercise.answer|length == 1 %}e{{no}}{% else %}q1_{{option.id}}{% endif %}">{{option.text}}</label>
                </li>
            {% endfor %}
        </ol>
    </div>

    {% if exercise.open_part %}
    <div class="open_part">
        <div class="description">
            {% for para in exercise.open_part %}
                <p class="paragraph">
                    {{para}}
                </p>
            {% endfor %}
        </div>
        <textarea style="width: 100%; margin-top:10px;" rows="10"></textarea>
    </div>
    {% endif %}

</div>