<div class="exercise-wtem" data-type="file" data-id="{{exercise.id}}">

    {% include "wtem/exercises/exercise_no.html" %}

    <div class="description">
        {% for para in exercise.description %}
            <p class="paragraph">
                {{para}}
            </p>
        {% endfor %}
    </div>

    {% if exercise.max_file_size_string %}
        <p style="font-weight: bold;">Plik nie powinien być większy niż {{exercise.max_file_size_string}}.</p>
    {% endif %}
    <div style="margin: 15px auto; width:300px;">
        <input style="float: left;" type="file" name="attachment_for_{{exercise.id}}"/>
        <div style="clear:both;"></div>
    </div>
    

    {% autoescape off %}
    {% for para in exercise.description_after %}
        <p>{{para}}</p>
    {% endfor %}
    {% endautoescape %}

</div>
