<div class="exercise-wtem" data-type="file" data-id="{{exercise.id}}">

    <h3>Zadanie {{no}}</h3>
        
    <div class="description">
        {% for para in exercise.description %}
            <p class="paragraph">
                {{para}}
            </p>
        {% endfor %}
    </div>

    <div style="margin: 15px auto; width:300px;">
        <input style="float: left;" type="file" name="attachment_{{exercise.name}}"/>
        <div style="clear:both;"></div>
    </div>
    

    <cite>
    {% for para in exercise.description_after %}
        <p>{{para}}</p>
    {% endfor %}
    </cite>

</div>