<div class="exercise-wtem" data-type="open" data-id="{{exercise.id}}">

    {% include "wtem/exercises/exercise_no.html" %}

    <div class="description">
        {% autoescape off %}
        {% for para in exercise.description %}
            <p class="paragraph">
                {{para}}
            </p>
        {% endfor %}
        {% endautoescape %}
    </div>

    {% if exercise.instruction %}
        <span class="instruction">{{ exercise.instruction }}</span>
    {% endif %}

    {% if exercise.fields %}
        {% for field in exercise.fields %}
            <div class="wtem-open-field">
                <label class="wtem-caption">{{field.caption|safe}} <span class="label_suffix"></span></label>
                {% if field.type == 'file' %}
                    <div style="margin: 15px auto; width:300px;">
                        <input style="float: left;" type="file" name="attachment_for_{{exercise.id}}__{{field.id}}"/>
                        <div style="clear:both;"></div>
                    </div>
                {% else %}
                    <textarea style="width: 100%;" rows="{{field.rows|default:10}}" data-field-id="{{field.id}}"
                              {% if field.max_length %}maxlength="{{field.max_length}}"{% endif %}
                              {% if field.input_id %}id="{{field.input_id}}"{% endif %}>{{ field.saved_answer }}</textarea>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <textarea style="width: 100%; margin-top:10px;" rows="{{field.rows|default:10}}"
                  {% if field.max_length %}maxlength="{{field.max_length}}"{% endif %}
                  {% if field.input_id %}id="#{{field.input_id}}"{% endif %}>{{ exercise.answer }}</textarea>
    {% endif %}

    {% if exercise.description_after %}
        <div class="description">
            {% autoescape off %}
            {% for para in exercise.description_after %}
                <p class="paragraph">
                    {{para}}
                </p>
            {% endfor %}
            {% endautoescape %}
        </div>
    {% endif%}

</div>
