$px: 0.0625em;

#level-chooser-place {
    min-height: 95*$px;
    margin-top: 2em;

    ul#level-chooser {
        margin: 0;
        padding: 16*$px 0 16*$px 140*$px;
        background-color: white;
        width: 500*$px;
        z-index: 300;
        position: relative;
        text-transform: uppercase;
        text-align: right;

        .home {
            display: none;
            position: absolute;
            top: 1.5em;
            left: 0;

            a {
                background: none;
                padding: 0;
                img {
                    width: 120*$px;
                }
            }
        }

        &.fixed {
            position: fixed;
            top: 0;
            border-bottom: 1px solid #c9ccce;

            .home {
                display: block;
            }
        }

        li {
            display: inline-block;
            list-style: none;
            max-width: 175px;

            a {
                display: table-cell;
                padding: .5em 1em;
                border-radius: 5*$px;
                background: #eee;
                height: 42*$px;
                vertical-align: middle;

                &.active {
                    color: white;
                    background: #ED7831;
                }
            }
        }
    }
}

.level {
    .link-list {
        margin-left: 1em;
    }

    .level-toc {
        overflow: hidden; /* Because we're changing bg color lower. */

        &.fixed {
            position: fixed;
        }

        .link-list {
            margin-left: 1em;

            li {
                margin-bottom: 0;

                &.curriculumcourses {
                    margin: 10px -17px -17px;
                    padding: 10px 16px 16px;
                    background-color: #eee;
                }
            }
        }
    }
}
