{% extends "base_super.html" %}
{% load subdomainurls %}
{% load fnp_lang %}

{% load i18n %}

{% block top_navigation %}
    <li><a class="menu-wspolpraca" href="{% if request.LANGUAGE_CODE == 'pl' %}{% url "mil_home_pl" %}{% else %}{% url "mil_home_en" %}{% endif %}">{% trans 'Consultations' %}</a></li>
        <li><a class="menu-kompetencje" href="{% url "curriculum" %}">{% trans 'Competencies' %}</a></li>
        <li><a class="menu-wspolpraca" href="/wez-udzial">{% trans 'Take Part' %}</a></li>
        {% if request.LANGUAGE_CODE == 'pl' %}
            <li><a class="menu-lekcje" href="{% url 'home' subdomain=None %}">Materiały edukacyjne</a></li>
        {% endif %}
        <li><a class="menu-kontakt" href="{% url 'info' url='kontakt/' subdomain=None %}">{% trans 'Contact' %}</a></li>
        <li>{% lang_switcher %}</li>
{% endblock %}
