{% extends "base_super.html" %}


{% block tagline %}Scenariusze zajęć, ćwiczenia, materiały{% endblock %}

{% block top_navigation %}
    <li><a class="menu-lekcje" href="{% url "catalogue_lessons" %}">Lekcje</a></li>
    <li><a class="menu-wspolpraca" href="{% url "info" "wspolpraca/" %}">Współpraca</a></li>
    <li><a class="menu-szkolenia" href="{% url "info" "turniej/" %}">Turniej</a></li>
    <li><a class="menu-wesprzyj" href="{% url "info" "wesprzyj/" %}">Wesprzyj nas</a></li>
    <li><a class="menu-o-nas" href="{% url "info" "o-nas/" %}">O nas</a></li>
    <li><a class="menu-kontakt" href="{% url "info" "kontakt/" %}">Kontakt</a></li>
{% endblock %}
