{% extends "base_super.html" %}
{% load subdomainurls %}
{% load fnp_lang %}
{% load sponsor_tags %}

{% load i18n %}

{% block top_navigation %}
    <li><a class="menu-wspolpraca" href="{% url "mil_home" %}">{% trans 'Consultations' %}</a></li>
        <li><a class="menu-kompetencje" href="{% url "curriculum" %}">{% trans 'Competencies' %}</a></li>
        <li><a class="menu-wspolpraca" href="{% url "comment_document_index" %}">{% trans 'Take Part' %}</a></li>
        {% if request.LANGUAGE_CODE == 'pl' %}
            <li><a class="menu-lekcje" href="{% url 'home' subdomain=None %}">Materiały edukacyjne</a></li>
        {% endif %}
        <li><a class="menu-kontakt" href="{% if request.LANGUAGE_CODE == 'pl' %}{% url 'info' url='kontakt/' subdomain=None %}{% else %}{% url 'info' url='contact/' subdomain=None %}{% endif %}">{% trans 'Contact' %}</a></li>
        <li>{% lang_switcher %}</li>
{% endblock %}

{% block sponsors %}
    {% sponsor_page "footer_mil" %}
{% endblock %}