{% extends "base.html" %}
{% load url from future %}
{% load catalogue_tags %}
{% load course_boxes_toc from curriculum_tags %}
{% load chunk from chunks %}

{% block full_title %}Edukacja medialna{% endblock %}

{% block body %}

{% catalogue_carousel %}

<section id="main-promobox">
<h1>Co nowego?</h1>

{% chunk "promobox" %}
</section>

<section id="main-sections">
<h1>Lekcje:</h1>
{% catalogue_section_buttons %}
</section>

<section id="main-chosen">
<h1>Wybrane tematy na:</h1>
<ul class="link-list">
{% course_boxes_toc 1 %}
</ul>
</section>

<section id="main-tools">

<section class="main-tools-box">
<h1>Aktualności na stronie Fundacji</h1>
{% latest_blog_posts "http://nowoczesnapolska.org.pl/feed" 5 %}
</section>

<section class="main-tools-box">
<h1>Narzędzia</h1>
<ul class="link-list">
    <li><a href="{% url 'contact_form' 'sugestie' %}">Zgłoś błąd lub sugestię</a></li>
    <li><a href="{% url 'info' 'jak-korzystac/' %}">Jak korzystać?</a></li>
    <li><a href="{{ package_url }}">Pobierz wszystkie lekcje</a></li>
    <li><a href="{{ package_student_url }}">Pobierz wszystkie lekcje w&nbsp;wersji dla ucznia</a></li>
    <li><a href="{% url 'catalogue_lesson' 'slowniczek' %}">Słowniczek</a></li>
    <li><a href="{% url 'catalogue_lesson' 'metody' %}">Metody edukacyjne</a></li>
    <li><a href="http://nowoczesnapolska.org.pl/prywatnosc/">Polityka prywatności i ciasteczka</a></li>
</ul>
</section>

<div style="clear:both"></div>
</section>


{% endblock %}


{% block footer_extra %}
    <p>Wykorzystano zdjęcie autorstwa Karoliny Włodarczyk, udostępnione na wolnej licencji CC BY-SA.</p>
{% endblock %}
