{% extends "base.html" %}
{% load catalogue_tags %}
{% load course_boxes_toc from curriculum_tags %}
{% load chunk from chunks %}

{% block full_title %}Edukacja medialna{% endblock %}

{% block body %}

{% catalogue_carousel %}

<section id="main-promobox">
<h1>Co nowego?</h1>

{% chunk "promobox" %}
</section>

<section id="main-sections">
<h1>Lekcje:</h1>
{% catalogue_section_buttons %}
</section>

<section id="main-chosen">
<h1>Wybrane tematy na:</h1>
<ul class="link-list">
{% course_boxes_toc 1 %}
</ul>
</section>

<section id="main-tools">

<section class="main-tools-box">
<h1>Aktualności na stronie Fundacji</h1>
{% latest_blog_posts "http://nowoczesnapolska.org.pl/feed" 5 %}
</section>

<section class="main-tools-box">
<h1>Narzędzia</h1>
<ul class="link-list">
    <li><a href="{{ package_url }}">Pobierz wszystkie lekcje</a></li>
    <li><a href="{{ package_student_url }}">Pobierz wszystkie lekcje w&nbsp;wersji dla ucznia</a></li>
</ul>
</section>

<div style="clear:both"></div>
</section>


{% endblock %}


{% block footer_extra %}
    <p>Wykorzystano zdjęcie <a href="http://www.flickr.com/photos/ahorcado/5758888635/">„Europejski Tydzień Młodzieży Katowice 2011”</a>, Krzysztof Duda, CC BY-SA</p>
{% endblock %}
