{% extends "base_super.html" %}
{% load textile_pl from fnp_markup %}
{% load sponsor_tags %}
{% load compressed %}

{% block full_title %}Olimpiada cyfrowa{% endblock %}

{% block og_site_name %}Olimpiada cyfrowa{% endblock %}

{% block ogurl %}https://olimpiadacyfrowa.pl{% endblock %}

{% block og_image %}http://olimpiadacyfrowa.pl/media/chunks/attachment/olimpiada_cyfrowa_logo.png{% endblock %}

{% block logo %}<img src="/media/chunks/attachment/olimpiada_cyfrowa_logo.png" height="73" alt="Olimpiada cyfrowa"/>{% endblock %}

{% block searchbox %}{% endblock %}

{% block top_navigation %}
  <li><a class="menu-oc-regulamin" href="/regulamin/">Regulamin</a></li>
  <li><a class="menu-oc-program" href="/program/">Program</a></li>
  <li><a class="menu-oc-literatura" href="/literatura/">Literatura</a></li>
  <li><a class="menu-oc-harmonogram" href="/harmonogram/">Harmonogram</a></li>
  <li><a class="menu-oc-komitet" href="/sklad/">Rada i komitet</a></li>
  <li><a class="menu-oc-kontakt" href="/kontakt/">Kontakt</a></li>
{% endblock %}

{% block body %}
  <div id="main-bar" class="flatpage">
    {{ flatpage.content|textile_pl }}
  </div>
{% endblock %}

{% block footer_contact %}
  <div class="footer-item">
      <p>
      fundacja Nowoczesna Polska<br/>
      <br/>
      ul. Marszałkowska 84/92 lok. 125<br/>
      00-514 Warszawa<br/>
      tel/fax: +48 22 621 30 17<br/>
      e-mail: fundacja@nowoczesnapolska.org.pl
      <br/><br/>
      KRS: 0000070056<br/>
      REGON: 017423865<br/>
      Nr konta: 59 1030 0019 0109 8530 0040 5685
      </p>
  </div>
{% endblock %}

{% block copyrights %}
  <br/>Ikonki w menu:
  <a href="http://www.flaticon.com/authors/freepik">Designed by Freepik and distributed by Flaticon</a>
{% endblock %}

{% block sponsors %}
    {% sponsor_page "footer_olimpiada" %}
{% endblock %}

{% block extra_script %}
    {% compressed_js 'base' %}
{% endblock %}