{% extends 'base_super.html' %}

{% block body %}

<h1>Twoje rozwiązania zostały wysłane</h1>

<p>Dziękujemy za udział w egzaminie dla Warszawskich Liderek Edukacji Medialnej.
Twoja praca została wysłana i poprawnie przyjęta przez system.</p>

<p>Jeśli chcesz zmienić którąś z odpowiedzi, do 30 października do godz. {{end_time|default:"24:00"}} możesz ponownie wysłać rozwiązanie zadań, korzystając z przypisanego Ci linku. W ocenie weźmiemy pod uwagę tylko ostatnie zgłoszenie. Pamiętaj, w zależności od zachowania Twojej przeglądarki, po powrocie do strony z zadaniami część zadań możesz być zmuszona rozwiązać ponownie.</p>

<p>Zespół Edukacji Medialnej
fundacja Nowoczesna Polska</p>

{% endblock %}