{% extends "base.html" %}
{% load url from future %}
{% load lesson_link lesson_nav person_list from catalogue_tags %}
{% load competence curriculum url_for_level from curriculum_tags %}


{% block title %}{{ object }}{% endblock %}

{% block body %}
    <!--h1>{{ object }}</h1-->

<aside id="sidebar">
    <section class="box">
        <h1 class="realisation">Realizacja i czas lekcji</h1>
        {% if object.type == 'synthetic' %}
        <p>To lekcja jest syntezą tematu
        <strong>{{ object.section }}</strong></a>{% if object.level.slug = "liceum" %}
            (na poziomie zaawansowanym)
        {% endif %}.
        Dostępny jest również
        <strong><a href="{% url 'catalogue_lessons' %}#{{ object.section.slug }}">pełny kurs</a></strong>
        tego tematu.
        </p>
        <p>Czas trwania: 45 minut.</p>
        {% elif object.type == 'course' %}
        <p>Ta lekcja jest częścią tematu
        <a href="{{ object.section.get_absolute_url }}"><strong>{{ object.section }}</strong></a>{% if object.level.slug = "liceum" %}
            (na poziomie zaawansowanym)
        {% endif %}.
        {% with object.get_syntetic as synth %}
        {% if synth %}
        Dostępna jest również
        <strong><a href="{{ object.get_syntetic.get_absolute_url }}">lekcja syntetyczna</a></strong>
        dla tego tematu.
        {% endif %}
        {% endwith %}
        </p>
        <p>Czas trwania: 45 minut.</p>
        {% else %}
        <p>?</p>
        {% endif %}
    </section>

    {% if object.package %}
        <section class="box-button"><a href="{{ object.package.url }}" class="dl-button">Pobierz całą lekcję</a></section>
    {% endif %}
    {% if object.student_package %}
        <section><a href="{{ object.student_package.url }}" class="dl-button">Pobierz lekcję w wersji dla ucznia</a></section>
    {% endif %}

    <section class="section">
        {% lesson_nav object %}
    </section>

    {% if object.dc.relations %}
    <section class="section-minor">
        <h1>Powiązane lekcje</h1>
        <ul class="link-list link-list-colored">
        {% for uri in object.dc.relations %}
            <li>{% lesson_link uri %}</li>
        {% endfor %}
        </ul>
    </section>
    {% endif %}

    {% if object.dc.competences %}
    <section class="section-minor">
        <h1>Kompetencje:</h1>
        <ul class="plain">
        {% competence object.dc.competences object.level %}
        </ul>
    </section>
    {% endif %}

    {% if object.dc.curriculum %}
    <section class="section-minor">
        <h1>Podstawa programowa:</h1>
        <ul class="plain">
        {% curriculum object.dc.curriculum %}
        </ul>
    </section>
    {% endif %}

    <section class="section-micro">
        <h1>Informacje:</h1>
        <p>
        {% if object.dc.authors_textbook %}
        Tekst: {{ object.dc.authors_textbook|person_list }}<br/>
        {% endif %}
        {% if object.dc.authors_scenario %}
        Scenariusz: {{ object.dc.authors_scenario|person_list }}<br/>
        {% endif %}
        {% if object.dc.authors_expert %}
        Konsultacja merytoryczna: {{ object.dc.authors_expert|person_list }}<br/>
        {% endif %}
        Licencja: <a href="{{ object.dc.license }}">{{ object.dc.license_description }}</a>.</p>
    </section>

    <section class="section-micro">
        <h1>Narzędzia:</h1>
        <ul class="link-list">
            <li><a href="{{ object.xml_file.url }}">źródłowy plik XML</a></li>
            <!--li><a href="{{ object.dc.about }}">lekcja na Platformie Redakcyjnej</a></li-->
        </ul>
    </section>

    <section class="section-micro">
        <p>{{ object.dc.description }}</p>
    </section>

</aside>

<div id="main-bar">
{{ object.html_file.read|safe }}


<a class="top-link" href="#">wróć na górę</a>
<footer class="lesson-footer">

{% if object.section %}

<p class="section-info"><a href="{{ object.section.get_absolute_url }}">Temat: {{ object.section }}</a>
<br/>(<a href="{% url 'catalogue_lessons' %}">spis wszystkich lekcji</a>)</p>

<p>
{% with object.get_previous as previous %}
    {% if previous %}
        <a class="previous-lesson" href="{{ previous.get_absolute_url }}">&larr; {{ previous }}</a>
    {% endif %}
{% endwith %}

{% with object.get_next as next %}
    {% if next %}
        <a class="next-lesson" href="{{ next.get_absolute_url }}">{{ next }} &rarr;</a>
    {% endif %}
{% endwith %}
</p>
{% endif %}

<div class="clr"></div>
</footer>
</div>

{% endblock %}
