{% extends "base.html" %}
{% load url from future %}

{% block title %}{{ object }}{% endblock %}

{% block body %}
    <!--h1>{{ object }}</h1-->

<aside id="sidebar">
    <section class="box">
        <h1 class="realisation">Realizacja i czas lekcji</h1>
        {% if object.depth == 0 %}
        <p>To lekcja jest syntezą działu
        <strong>{{ object.section }}</strong>.
        Dostępny jest również
        <strong><a href="{% url 'catalogue_lessons' %}#{{ object.section.slug }}">szczegółowy kurs</a></strong>
        dla tego działu.
        </p>
        {% else %}
        <p>Ta lekcja jest częścią działu
        <strong>{{ object.section }}</strong>.
        Dostępna jest również
        <strong><a href="">lekcja syntetyczna</a></strong>
        dla tego działu.
        </p>
        {% endif %}
        <p>Czas trwania: 45 minut.</p>
    </section>
    <section class="box-button"><a href="" class="dl-button">Pobierz całą lekcję</a></section>
    <section><a href="" class="dl-button">Pobierz lekcję w wersji dla ucznia</a></section>
    <section class="section">
        <h1>Korzystanie z informacji</h1>
    </section>
</aside>

<div id="main-bar">
{{ object.html_file.read|safe }}
</div>

{% endblock %}
