{% extends "base.html" %}
{% load catalogue_tags %}
{% load course_boxes course_boxes_toc from curriculum_tags %}

{% block title %}Lekcje{% endblock %}

{% block body %}
    <h1>Lekcje</h1>

<aside id="sidebar">
    <section class="box">
        <h1 class="realisation">Realizacja i czas lekcji</h1>
        <p>Każdy dział można zrealizować w formie lekcji syntetycznej
        dającej przegląd danego zagadnienia, bądź w formie pełnego kursu.
        </p>
        <p>Czas trwania: 45 minut</p>
    </section>
    <section class="box-button"><a href="{{ package_url }}" class="dl-button">Pobierz wszystkie lekcje</a></section>
    <section><a href="{{ package_student_url }}" class="dl-button">Pobierz wszystkie lekcje w&nbsp;wersji dla ucznia</a></section>
    <section class="section-minor">
        <h1>Zebrane dla wszystkich tematów</h1>
        <ul class="link-list">
            {% for lesson in appendix %}
                <li><a href="{{ lesson.get_absolute_url }}">{{ lesson }}</a></li>
            {% endfor %}
        </ul>
    </section>
</aside>

<div id="main-bar">
    <div class="section-list-toc">
    <h2 id='top'>Tematy</h2>
    <ul class="link-list">
    {% for object in object_list %}
        <li><a href="#{{ object.slug }}">{{ object }}</a></li>
    {% endfor %}
    </ul>
    </div>
    <div class="section-list-toc">
    <h2>Przedmioty</h2>
    <ul class="link-list">
        {% course_boxes_toc %}
    </ul>
    </div>
    
    {% for object in object_list %}
        <div class="section-links">
            <a href="#top">wróć do spisu treści</a>
        </div>
        <h2 id='{{ object.slug }}' class="section-header">{{ object }}</h2>

        {% section_box object %}
    {% endfor %}

    <div class="course-boxes">
    <h2>Lekcje wybrane na poszczególne przedmioty:</h2>
    {% course_boxes %}
    </div>

</div>


{% endblock %}
