{% extends "base.html" %}
{% load catalogue_tags %}

{% block title %}Lekcje{% endblock %}

{% block body %}
    <h1>Lekcje</h1>

<aside id="sidebar">
    <section class="box">
        <h1 class="realisation">Realizacja i czas lekcji</h1>
        <p>Każdy dział można zrealizować w formie lekcji syntetycznej
        dającej przegląd danego zagadnienia, bądź w formie pełnego kursu.
        </p>
        <p>Czas trwania: 45 minut</p>
    </section>
    <section class="box-button"><a href="{{ package_url }}" class="dl-button">Pobierz wszystkie lekcje</a></section>
    <section><a href="{{ package_student_url }}" class="dl-button">Pobierz wszystkie lekcje w&nbsp;wersji dla ucznia</a></section>
    <section class="section-minor">
        <h1>Zebrane z wszystkich działów</h1>
        <ul class="link-list">
            <li><a href="">Słowniczek</a></li>
            <li><a href="">Czytelnia</a></li>
            <li><a href="">Używane metody edukacyjne</a></li>
        </ul>
    </section>
</aside>

<div id="main-bar">
    <a name="top"></a><h2>Tematy</h2>
    <ul class="link-list">
    {% for object in object_list %}
        <li><a href="#{{ object.slug }}">{{ object }}</a></li>
    {% endfor %}
    </ul>
    
    {% for object in object_list %}
        <div class="section-links">
            <a href="#top">wróć do spisu treści</a>
        </div>
        <h2 class="section-header">{{ object }} <a name="{{ object.slug }}" class="permalink"></a></h2>

        {% section_box object %}
    {% endfor %}
</div>


{% endblock %}
