.curriculum-form {
  border: 1px solid #ddd;
  padding: 1em;
  border-radius: 0.688em;
  background: #ADAEAF;
  color: white; }
  .curriculum-form a {
    cursor: pointer; }
  .curriculum-form a:hover {
    text-decoration: underline; }
  .curriculum-form .error {
    padding-left: 1em;
    border-radius: .5em;
    background: #ed7831;
    color: white;
    font-weight: bold; }
  .curriculum-form h2 {
    margin: 0; }
    .curriculum-form h2 a {
      display: block;
      color: white; }
      .curriculum-form h2 a span {
        display: none; }
  .curriculum-form strong {
    display: inline-block;
    vertical-align: top;
    width: 12em; }
  .curriculum-form .curriculum-levels {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 40em;
    vertical-align: top; }
    .curriculum-form .curriculum-levels li {
      display: inline-block;
      width: 13em; }
  .curriculum-form .curriculum-section-toggler {
    display: none;
    color: white; }
