{% extends "catalogue/lesson/lesson_detail.html" %}

{% block sidebar-top %}

<section class="box">
    <h1 class="realisation">Realizacja i czas lekcji</h1>
    <p>Ta lekcja jest syntezą tematu
    <strong>{{ object.section }}</strong></a>{% if object.level.slug = "liceum" %}
        (na poziomie zaawansowanym)
    {% endif %}.
    Dostępny jest również
    <strong><a href="{% url 'catalogue_lessons' %}#{{ object.section.slug }}">pełny kurs</a></strong>
    tego tematu.
    </p>
    <p>Czas trwania: 45 minut.</p>
</section>

{% if object.package %}
    <section class="box-button"><a href="{{ object.package.url }}" class="dl-button">Pobierz całą lekcję</a></section>
{% endif %}
{% if object.student_package %}
    <section><a href="{{ object.student_package.url }}" class="dl-button">Pobierz lekcję w wersji dla ucznia</a></section>
{% endif %}

{% endblock %}
