{% extends "catalogue/lesson/lesson_detail.html" %}

{% block lesson-info %}
<section class="box">
    <div class="box-icon"><img src="/static/img/icons/activity-time.png"><br>45m</div>

    {% include "catalogue/lesson/box-icons.html" %}

    <p>Ta lekcja jest częścią skróconego kursu na poziomie {{ object.level|lower }}.
        Zobacz też <a href="{% url 'catalogue_lessons' %}#{{ object.level.slug }}_pelny">pełny kurs</a>.
    </p>
    <div style="clear: right"></div>
</section>
{% endblock %}

{% block sidebar-top %}

{% if object.package %}
    <section class="box-button"><a href="{{ object.package.url }}" class="dl-button">Pobierz całą lekcję</a></section>
{% endif %}
{% if object.student_package %}
    <section><a href="{{ object.student_package.url }}" class="dl-button">Pobierz lekcję w wersji dla ucznia</a></section>
{% endif %}

{% endblock %}
